.pt-120 {
    padding-top: 110px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-43 {
    margin-top: 43px;
}

.m-90-0-56 {
    margin: 90px 0 56px;
}

.align-center {
    display: flex;
}

.header_container {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-family: 'Roboto';
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1D3130;
}

nav li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;

}

.header-logo {
    display: inline-block;
    padding-top: 25px;
}

h1 {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #254F4C;

}

p {
    font-family: 'Roboto';
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #1D3130;
}

.btn {
    border: none;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 147.19%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #254F4C;
    border-radius: 100px;
    width: 216px;
    height: 49px;
}

.btn:hover{
    background: #2b5f5c;
    transition: 0.3s;
}

.btn-orange {
    background: #FF583E;

}

.btn-orange:hover {
    background: #fc3213;
    transition: 0.3s;
}

.promotion-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion-bar div {
    width: 420px;
    margin-right: 100px;
}

a:hover {
    color: #FF583E;
    transition: 0.3s;

}

h2 {
    padding-right: 75px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #254F4C;
}

.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-height {
    height: 50px;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
}

.product-card {
    width: 264px;
    background: #2B4241;
    border-radius: 40px;
    text-align: center;
    position: relative;
    margin: 0 20px;
}

.product-card img {
    position: absolute;
    bottom: 260px;
    left: 28px;
}

.basic-p {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-align: center;
}

.white-color {
    color: #FFFFFF;
}

.white-background {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.blue-h3 {
    color: #254F4C;
}

.btn-subtract-add {
    background-color: transparent;
    border: none;
    color: #FF583E;
    font-size: 30px;
    background-color: transparent;
}

.btn-transparent {
    box-sizing: border-box;
    width: 200px;
    height: 48.3px;
    border: 1px solid #FF583E;
    border-radius: 40px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    background-color: transparent;
    color: #FF583E;
}

.btn-transparent:hover {
    border: 3px solid #fc3213;
    color: #fc3213;
    transition: 0.3s;
}

.data-container {
    margin: 0 16px;
}

#select {
    border: 1px solid #C4C4C4;
    padding: 12px 23px;
    margin-left: 25px;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 170px;
}